body {
  font-family: Arial, Helmet, Freesans, sans-serif;
  font-size: 0.9em;
  color: #333;
  overflow: hidden;
}

#tat_input_container {
  display: flex;
  margin-bottom: 3px;
}

#tat_input {
  -webkit-box-sizing: border-box;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-left: 5px;
  flex-grow: 2;
}

#tat_submit_container {
  text-align: right;
  margin-right: 5px;
}

#tat_submit {
  width: 45px;
  margin-left: 10px;
}

#tat_to_lang {
  width: 150px;
}

#tat_popup {
  min-width: 398px;
}

#tat_result {
}

.pos_translation {
  white-space: nowrap;
  display: inline-block;
}

#swap_languages {
  vertical-align: middle;
}
