body {
  font-family: Arial, Helmet, Freesans, sans-serif;
  font-size: 0.9em;
  color: #333;
}

#tat_input {
  -webkit-box-sizing: border-box;
  width: 100%;
  margin-bottom: 5px;
  margin-right: 5px;
}

#tat_popup {
  min-width: 392px;
}

#tat_result {
  margin-top: 12px;
}

.pos_translation {
  white-space: nowrap;
}

