body {
  font-family: Arial, Helmet, Freesans, sans-serif;
  font-size: 0.9em;
  color: #333;
}

#tat_input {
  -webkit-box-sizing: border-box;
  width: 100%;
  margin-bottom: 5px;
  margin-right: 5px;
}

#tat_popup {
  min-width: 398px;
}

#tat_result {
}

.pos_translation {
  white-space: nowrap;
  display: inline-block;
}

#swap_languages {
  vertical-align: middle;
}
